/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  font-size: 14px;
}

body {
  background-color: #121212;
  color: #e0e0e0;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background: #333;
  color: #fff;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.logo span {
  color: #e70d0d;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  transition: background 0.3s, color 0.3s;
}

.navbar a:hover {
  background: #e74c3c;
  outline: 2px solid #e74c3c;
  outline-offset: 4px;
}

.tickets-dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #333;
  color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 10px 20px;
  display: block;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
}

.dropdown-content a:hover {
  background: #e74c3c;
}

.tickets-dropdown:hover .dropdown-content {
  display: block;
}


#venue-form {
    border: 2px solid #4ce3f7;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 120px auto 20px;
    background-color: #0b151e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #venue-form input[type="text"],
  #venue-form input[type="number"],
  #venue-form input[type="file"] {
    display: block;
    width: calc(100% - 40px);
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    background-color: #1a1a1a;
    color: #fff;
  }
  
  #venue-form input::placeholder {
    color: #ccc;
  }
  
  #venue-form button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 12px 17px;
    min-width: 120px;
    position: relative;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    background: radial-gradient(ellipse at bottom, rgba(71, 81, 92, 1) 0%, rgba(11, 21, 30, 1) 45%);
    color: rgba(255, 255, 255, 0.66);
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  #venue-form button::before {
    content: '';
    width: 70%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 15%;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.2;
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  #venue-form button:hover {
    color: rgba(255, 255, 255, 1);
    transform: scale(1.1) translateY(-3px);
  }
  
  #venue-form button:hover::before {
    opacity: 1;
  }
  