/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
    font-size: 14px;
  }
  
  body {
    background-color: #121212;
    color: #e0e0e0;
    line-height: 1.6;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background: #333;
    color: #fff;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
  }
  
  .logo span {
    color: #e70d0d;
  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    transition: background 0.3s, color 0.3s;
  }
  
  .navbar a:hover {
    background: #e74c3c;
  outline: 2px solid #e74c3c;
  outline-offset: 4px;
  }
  
  .tickets-dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #333;
    color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 10px 20px;
    display: block;
    white-space: nowrap;
    color: #fff;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background: #e74c3c;
  }
  
  .tickets-dropdown:hover .dropdown-content {
    display: block;
  }

  .heading{
    text-align: center;
    margin-top: 60px;
  }

.venue-box {
    width: 180%;
    margin: 70px 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    transition: transform 0.2s;
}

.venue-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.venue-box img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 20%;
    box-shadow: 0 0 5px #ddd;
}

.venue-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.venue-box p {
    font-size: 16px;
    line-height: 1.5;
}

#venues-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.btn {
    position: absolute;
    top: 60px;
    right: 10px;
    display: flex;
    justify-content: center;
}

.btn button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
    min-width: 120px;
    position: relative;
    cursor: pointer;
    padding: 12px 17px;
    border: 0;
    border-radius: 7px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    background: radial-gradient(ellipse at bottom, rgba(71, 81, 92, 1) 0%, rgba(11, 21, 30, 1) 45%);
    color: rgba(255, 255, 255, 0.66);
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.btn button::before {
    content: '';
    width: 70%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 15%;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.2;
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.btn button:hover {
    color: rgba(255, 255, 255, 1);
    transform: scale(1.1) translateY(-3px);
}

.btn button:hover::before {
    opacity: 1;
}

.btn a {
    color: inherit;
    text-decoration: none;
}
